<%- include('../views/partials/header.ejs', { user }) %>


<div>
    <h1>Your Favorites</h1>
    <% favorites.forEach(function(song) { %>
        <div class="well">
          <h2><%= song.songName %></h2>
          <h4><%= song.genre %></h4>
          <form method="POST" action="/songs/<%= song['im:name'].label %>/?_method=DELETE"></form>
            <input hidden type="text" name="name" value="<%= song['im:name'].label %>">
            <button class="btn btn-primary" type="submit">Remove from Favorites</button>
          </form>
          <form method="GET" action="/favorites">
            <input hidden type="text" name="name" value="<%= song['im:name'].label %>">
            <button class="btn btn-primary" type="submit">See more info</button>
          </form>
        </div>
      <% }); %>
    </div>




<%- include('../views/partials/footer.ejs') %>


