<%- include('../views/partials/header.ejs', { user }) %>

<div>
<h1>Top 100 Charts</h1>
<% songs.forEach(function(song) { %>
    <div class="well">
      <img src="<%= song['im:image'][2].label %>" />  
      <h2><%= song['im:name'].label %></h2>
      <% let songName = song['im:name'].label %> 
      <h4><%= song['im:artist'].label %></h4>
      <h3><%= song.category.attributes.term %></h3>      
      <h3><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Buy now for <%= song['im:price'].label %> on apple music</a></h3>
      <form method="POST" action="/favorites">
        <input hidden type="text" name="name" value="<%= song['im:name'].label %>">
        <input hidden type="text" name="genre" value="<%= song.category.attributes.term %>">
        <button class="btn btn-primary" type="submit">Add to Favorites</button>
      </form>

    </div>
  <% }); %>
</div>

<%- include('../views/partials/footer.ejs') %>






       